.content {
  padding: 10vw 0;

  &--extra-padding-top {
    padding-top: 15vw;
  }
  &--extra-padding-bottom {
    padding-bottom: 15vw;
  }
  &--reduced-padding-top {
    padding-top: 56px;
  }
  &--reduced-padding-bottom {
    padding-bottom: 56px;
  }

  &__image {
    margin-bottom: 56px;
  }

  &__text {
    margin-bottom: 72px;
  }

  ul {
    display: block;
    position: relative;

    li {
      display: block;

      & + li {
        margin-top: 10px;
      }

      p {
        position: relative;
        padding-left: 25px;

        &::before {
          content: '\2022';
          position: absolute;
          left: 0;
          padding: 0 10px;
        }
      }
    }
  }

  p + p {
    margin-top: 10px;
  }

  p + ul {
    margin-top: 20px;
  }
}
