.funnel {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;

  &--reversed {

  }

  @include media('<phablet') {
    &--left,
    &--right {
      .funnel__image--wrap {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          height: 10vw;
          background-color: $white;
          transform-origin: 0 0;
        }
      }
    }

    &--left {
      .funnel__image--wrap::before {
        top: 0;
        transform: skewY(-5.7deg);
      }
    }
    &--right {
      .funnel__image--wrap::before {
        top: -10vw;
        transform: skewY(5.7deg);
      }
    }
  }

  &__image {
    display: block;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: calc(50vw - 15px);
    max-width: none;

    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    @include media('<phablet') {
      position: static;
      transform: none;
      width: 100vw;
      max-width: 100vw;
      margin: 0 -15px;
    }
    &--wrap {
      position: relative;
    }
  }

  &__content {
    @include flexbox;
    @include align-items(center);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12vw 0;

    @include media('<phablet') {
      padding: 20vw 15px 70px;
    }

    &--inner {
      display: block;
    }

    &__title {
      margin: 0 0 35px;
    }

    &__text {
      margin: 0 0 30px;
      p {
        margin-bottom: 10px;
      }
    }

    &__button {
      width: auto;
    }
  }
}
