.slanted {
  display: block;
  position: relative;
  top: -10vw;
  width: 100%;
  height: auto;
  margin: 0 0 -20vw;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10vw;
    z-index: -1;
  }

  &--contains {
    padding: 10vw 0 12vw;

    @include media('<phablet'){
      padding: 20vw 0;
    }
  }

  &--no-contains {
    padding: 10vw 0 0;

    @include media('<phablet'){
      padding: 20vw 0;
    }
  }

  &--reversed {
    &.slanted--contains {
      padding: 12vw 0 10vw;
    }

    &.slanted--no-contains {
      padding: 12vw 0 0;
    }
  }

  &--right {
    &::before {
      transform-origin: 0% 0%;
      transform: skewY(5.7deg);
    }

    &.slanted--no-overflow {
      clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 calc(100% - 10vw));
    }

    &.slanted--overflow {}

    .slanted__content {
      margin: -2.5vw 0 0;
    }
  }

  &--left {
    &::before {
      transform-origin: 100% 0%;
      transform: skewY(-5.7deg);
    }

    &.slanted--no-overflow {
      clip-path: polygon(0 10vw, 100% 0, 100% calc(100% - 10vw), 0 100%);
    }

    &.slanted--overflow {}

    .slanted__content {
      margin: -10vw 0 0;
    }
  }

  &--green {
    &::before {
      background-image: linear-gradient(to bottom right, #19D0BF, #04887C);
    }
  }

  &--purple {
    &::before {
      background-image: linear-gradient(to top right, #EC7AFF, #271E7B);
    }
  }

  &--single {
    .slanted__content {
      padding-top: 56px;
      margin: 0;

      &--reverse {
        padding-top: 0;
        padding-bottom: 56px;
      }
    }
  }


  &__image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;

    @include media('<phablet'){
      width: calc(100% - 30px);
      margin: 0 auto;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 5vw 0;

    @include media('<phablet'){
      padding: 56px 15px 0;
      margin: 0;
    }

    &__title {
      margin: 0 0 35px;
    }

    &__text {
      margin: 0 0 30px;
      p {
        margin-bottom: 10px;
      }
    }
  }
}
