.slanted {
  display: block;
  position: relative;
  top: -125px;
  width: 100%;
  height: auto;
  padding: 125px 0 0;
  margin: 0 0 -250px;

  &--right {
    &.slanted--overflow {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        clip-path: polygon(0 0, 100% 125px, 100% 100%, 0 calc(100% - 125px));
      }
    }

    &.slanted--no-overflow {
      clip-path: polygon(0 0, 100% 125px, 100% 100%, 0 calc(100% - 125px));
    }
  }

  &--left {
    &.slanted--overflow {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        clip-path: polygon(0 125px, 100% 0, 100% calc(100% - 125px), 0 100%);
      }
    }

    &.slanted--no-overflow {
      clip-path: polygon(0 125px, 100% 0, 100% calc(100% - 125px), 0 100%);
    }
  }



  &--green {
    &.slanted--overflow {
      &::before {
        background-image: linear-gradient(124deg, #23EFDC -38%, #007D71 120%);
      }
    }

    &.slanted--no-overflow {
      background-image: linear-gradient(124deg, #23EFDC -38%, #007D71 120%);
    }
  }


  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
  }
}
