<%
  extra_classes ||= ''
%>
<footer class="footer <%= extra_classes %>">

  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <a href="#" class="footer__logo"><%= image_tag("content/logo.png", :class => 'footer__logo__logo') %></a>
      </div>
      <div class="col-sm-3 col-xs-12">
        <p class="footer__title border-top">Company</p>
        <ul class="footer__nav">
          <li>
            <a href="#">The virus</a>
          </li>
          <li>
            <a href="#">Screening for HPV</a>
          </li>
          <li>
            <a href="#">The consequences</a>
          </li>
          <li>
            <a href="#">Prevention</a>
          </li>
          <li>
            <a href="#">Vaccination</a>
          </li>
          <li>
            <a href="#">What parents can do</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <p class="footer__title">Legal</p>
        <ul class="footer__nav">
          <li>
            <a href="#">Terms  & Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">

        <p class="footer__title">LOREM IPSUM</p>
        <ul class="footer__nav">
          <li>
            © MSD Belgium SPRL Clos du Lynx, 5
            <br />
            1200 Bruxelles
          </li>
          <li>
            VACC-1205903-0061.
            <br />
            Date of last revision : 03/2018.
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
