<%
  extra_classes ||= ''
%>
<header class="header <%= extra_classes %>">

  <div class="header--main">

    <div class="header__content">
      <button class="btn-menu-mobile">
        <span class="menu-bar"></span>
      </button>
      <div class="header__content__logo">
        <a href="./"><%= image_tag("content/HPVfoundation_LOGO_white.svg", :class => 'header__content__logo__logo logo-white') %>
        <%= image_tag("content/HPVfoundation_LOGO_black.svg", :class => 'header__content__logo__logo logo-black') %></a>
      </div>
      <nav class="header__content__nav">
        <ul>
          <li>
            <a href="./virus">Le Virus</a>
          </li>
          <li>
            <a href="./screening">Le Depistage</a>
          </li>
          <li>
            <a href="./consequences">Les Consequences</a>
          </li>
          <li>
            <a href="./prevention">Protege-toi</a>
          </li>
          <li>
            <a href="./vaccination">Vaccine-toi</a>
          </li>
          <li class="menu-lead">
            <a href="./parents">Je suis parent</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

</header>
