//Grid
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 30px;
$flexboxgrid-outer-margin: 30px;
$flexboxgrid-breakpoints:
  xxs 0px 100%,
  xs 480px 100%,
  sm 768px 100%,
  md 991px 990px,
  lg 1200px 1120px,
  xl 1440px 1220px;

//Colors
$white: #FFF;
$black: #000;
$blackish: #282828;
$primary: #09B3A3;
$secondary: #000;
$lightgrey: #EAEAEA;
$darkgrey: #6C6C6C;


//Fonts
$font_default: "Roboto", sans-serif;
$font_title: "Dosis", sans-serif;
