body,
input,
textarea,
button {
  font-family: $font_default;
  font-size: 14px;
}

img {
  width: 100%;
  height: auto;
}

.body-wrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  // max-width: 1600px;
  margin: 0px auto;
  padding: 0;
}

.content__wrapper {
  display: block;
  position: relative;
  // max-width: 1200px;
  margin: 0px auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  &--wide {
    width: 100% !important;
  }
}

.link {
  color: $secondary;
  text-decoration: none;
}

/* ========== HELPERS ========== */

.content-align-left {
  text-align: left;
}

.content-align-right {
  text-align: right;
}

body.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

// desktop desde md
@include media(">=tablet") {
  .hide-on-desktop,
  .tablet-only,
  .hide-on-tablet,
  .mobile-only,
  .responsive-only  {
    display: none !important;
  }
}

//  sm
@include media(">=phablet" , "<tablet") {
  .hide-on-desktop,
  .desktop-only,
  .hide-on-responsive,
  .mobile-only {
    display: none !important;
  }
}

// Mobile hasta xs
@include media("<phablet") {
  .desktop-only,
  .tablet-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important;
  }
}


.title {
  font-family: $font_title;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  color: $blackish;

  &--light {
    color: $white;
  }

  &--center {
    text-align: center;
  }

  &--lightweight {
    font-weight: 600;
  }

  &--sub {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  @include media('<tablet'){
    line-height: 45px;

    &--sub {
      line-height: 32px;
    }
  }
}

.text {
  font-family: $font_default;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $darkgrey;

  &--light {
    color: $white;
  }

  &--dark {
    color: $blackish;
  }

  &--primary {
    color: $primary;
  }

  &--tag {
    font-family: $font_title;
    font-weight: 600;
    line-height: 26px;
  }

  &--center {
    text-align: center;
  }

  & + .text {
    margin-top: 10px;
  }

  .title + & {
    margin-top: 36px;
  }

  @include media('<tablet') {
    font-size: 20px;
    line-height: 35px;
  }
}

@include media('<phablet') {
  .pad-xs-0-5 {
    padding: 0 5px;
  }
  .pad-xs-0-15 {
    padding: 0 15px;
  }
}
