//
// Icon Font: msd-hpv-icons
//

@font-face {
  font-family: "msd-hpv-icons";
  src: url("./../fonts/msd-hpv-icons.eot");
  src: url("./../fonts/msd-hpv-icons.eot?#iefix") format("embedded-opentype"),
       url("./../fonts/msd-hpv-icons.woff2") format("woff2"),
       url("./../fonts/msd-hpv-icons.woff") format("woff"),
       url("./../fonts/msd-hpv-icons.ttf") format("truetype"),
       url("./../fonts/msd-hpv-icons.svg#msd-hpv-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "msd-hpv-icons";
    src: url("./../fonts/msd-hpv-icons.svg#msd-hpv-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-caret-down:before,
.icon-caret-down-rounded:before,
.icon-facebook:before,
.icon-gplus:before,
.icon-linkedin:before,
.icon-scroll:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "msd-hpv-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-caret-down:before { content: "\f101"; }
.icon-caret-down-rounded:before { content: "\f106"; }
.icon-facebook:before { content: "\f103"; }
.icon-gplus:before { content: "\f104"; }
.icon-linkedin:before { content: "\f105"; }
.icon-scroll:before { content: "\f100"; }
.icon-twitter:before { content: "\f102"; }

$font-msd-hpv-icons-caret-down: "\f101";
$font-msd-hpv-icons-caret-down-rounded: "\f106";
$font-msd-hpv-icons-facebook: "\f103";
$font-msd-hpv-icons-gplus: "\f104";
$font-msd-hpv-icons-linkedin: "\f105";
$font-msd-hpv-icons-scroll: "\f100";
$font-msd-hpv-icons-twitter: "\f102";
