---
title: Proyect Index
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/intro", :locals => {
    :extra_classes => 'intro--simplified',
    :image => 'http://placehold.it/1440x484',
    :title => 'Quelles sont<br />les conséquences possibles?',
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'false',
    :contains => 'true',
    :direction => 'right',
    :reverse => 'true',
    :single => 'true',
    :title => '<span class="title--lightweight">Les risques liés à une infection par l’HPV varient selon le type d’HPV.</span>',
    :text => '<p>Certaines infections à l’HPV se développent lentement et n’entraînent aucun symptôme visible. Ils peuvent rester dans l’organisme de manière dormante, ou disparaître spontanément.</p><p>Certains génèrent des symptômes bénins, comme des verrues génitales alors que d’autres peuvent entraîner des lésions précancéreuses, voire des cancers.</p>'
  }) %>

  <div class="content content--extra-padding-top content--reduced-padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content__text alert alert--success">
            <p>Une infection HPV peut avoir des conséquences graves.</p>
          </div>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-md-8 col-sm-10 col-xs-12">
          <p class="title title--sub title--lightweight">Découvrez les details des conséquences possibles en cliquant sur les images ci-dessous <br><br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="/assets/images/content/consequences/content1.jpg" alt="" class="content__image">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="accordion">
          <div class="accordion__header">
            <p class="title title--sub title--lightweight">L’anatomie féminine et le développement d’un cancer du col de l’utérus</p>
            <span class="icon-caret-down-rounded"></span>
          </div>
          <div class="accordion__content">
            <div class="row no-gutters">
              <div class="col-sm-4 col-xs-12">
                <img src="/assets/images/content/consequences/accordion1-1.jpg" alt="">
              </div>
              <div class="col-sm-8 col-xs-12">
                <img src="/assets/images/content/consequences/accordion1-2.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="text">
                  Dans certains cas, lors d’infection par des types d’HPV à haut risque, des lésions peuvent survenir au niveau du col de l’utérus. Elles sont de gravité variable selon la quantité et la localisation des cellules qui se développent anormalement dans la muqueuse (cellules infectées).
                </p>
                <p class="text">
                  La plupart de ces lésions régressent spontanément, tandis que d’autres restent stables ou évoluent vers un stade précancéreux plus avancé (cellules anormales). Chaque année en Belgique, on découvre de telles lésions chez environ 8000 femmes. Heureusement, seule une petite partie des lésions vont évoluer au fil des ans vers un cancer. Néanmoins, on découvre un cancer du col de l’utérus chez environ 700 femmes par an en Belgique.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__header">
            <p class="title title--sub title--lightweight">Papillomavirus humain et autres formes de cancers</p>
            <span class="icon-caret-down-rounded"></span>
          </div>
          <div class="accordion__content">
            <div class="row no-gutters">
              <div class="col-sm-4 col-xs-12">
                <img src="/assets/images/content/consequences/accordion2-1.jpg" alt="">
              </div>
              <div class="col-sm-4 col-xs-12">
                <img src="/assets/images/content/consequences/accordion2-2.jpg" alt="">
              </div>
              <div class="col-sm-4 col-xs-12">
                <img src="/assets/images/content/consequences/accordion2-3.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="text">
                  Environ une douzaine de ces types d’HPV sont appelés à haut risque. Ils sont impliqués dans l’émergence de précurseurs de cancers, et même responsables de certains cancers, dont le plus fréquent est le cancer du col de l’utérus mais aussi d’autres cancers de la femme ou de l’homme.
                </p>
                <p class="text">
                  Dans quasi 90% des cas, l’infection par le virus HPV passe inaperçue mais pour certains types de virus, elle peut causer des maladies sévères et gênantes chez les hommes et les femmes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__header">
            <p class="title title--sub title--lightweight">Papillomavirus humain et verrues génitales</p>
            <span class="icon-caret-down-rounded"></span>
          </div>
          <div class="accordion__content">
            <div class="row no-gutters">
              <div class="col-sm-6 col-xs-12">
                <img src="/assets/images/content/consequences/accordion3-1.jpg" alt="">
              </div>
              <div class="col-sm-6 col-xs-12">
                <img src="/assets/images/content/consequences/accordion3-2.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="title title--sub title--lightweight">
                  Certains virus HPV à faible risque peuvent être à l’origine de symptômes bénins mais bien gênants, comme les verrues génitales.
                </p>
                <p class="text">
                  Le temps entre le moment de l’infection et l’apparition des symptômes de verrues génitales est d’environ 6 mois. En fonction de leur étendue et virulence, des traitements médicaux ou de type chirurgical sont proposés. Ceux-ci sont douloureux et n’excluent absolument pas la réapparition. Dans des cas, les verrues génitales réapparaissent dans les 3 mois !
                <p class="text">
                  Heureusement, ces verrues embêtantes peuvent aussi s’atténuer ou disparaître spontanément.
                </p>
                <p class="text">
                  Chaque année, il y a environ 18.000 femmes et hommes chez qui on détecte des verrues génitales causées par l’HPV. 90% de ces verrues peuvent être prévenues par une vaccination contre l’HPV.                </p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content content--reduced-padding-top content--reduced-padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert--success">
            <p> Ces verrues génitales, très contagieuses, occasionnent un inconfort physique et psychologique.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%= partial("shared/footer", :locals => {
  :extra_classes => ''
}) %>
