---
title: Proyect Index
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => 'header--prueba-visible'
}) %>

<div class="content__wrapper">

  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'true',
    :contains => 'false',
    :direction => 'right',
    :reverse => 'false',
    :image => 'http://placehold.it/400x500',
    :title => 'Comment se faire dépister ?',
    :text => 'Afin de dépister une infection par l’HPV, chez l’homme et chez la femme, il existe des tests qui consistent à rechercher l’ADN des virus HPV. Néanmoins, lorsque ce type de test est positif, cela ne signifi e pas qu’on est affecté d’une lésion précancéreuse<br />Ou d’un cancer !',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>

</div>
<%= partial("shared/footer") %>
