---
title: Proyect Index
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/intro", :locals => {
    :extra_classes => 'intro--simplified',
    :image => 'http://placehold.it/1440x484',
    :title => 'Comment faire pour éviter une<br />infection par l’HPV?',
  }) %>

  <div class="content content--reduced-padding-top">
    <div class="container">
      <div class="row between-sm">
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="row center-xs">
            <div class="col-xs-5">
              <img src="/assets/images/content/prevention/content1.png" alt="" class="content__image">
            </div>
          </div>
          <div class="content__text">
            <p class="title">Le préservatif n’offre pas une protection suffisante</p>
            <p class="text">
              Le virus HPV se transmet par contact avec une peau infectée. Concrètement, cela signifie qu’une contamination peut avoir lieu même s’il n’y a pas pénétration.
            </p>
            <p class="text">
              C’est pour cette raison que le préservatif ne protège pas contre l’HPV. Il reste néanmoins un moyen indispensable pour se protéger contre d’autres maladies sexuellement transmissibles et une éventuelle grossesse.
            </p>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="row center-xs">
            <div class="col-xs-5">
              <img src="/assets/images/content/prevention/content2.png" alt="" class="content__image">
            </div>
          </div>
          <div class="content__text">
            <p class="title">Se protéger via la vaccination</p>
            <p class="text">
              Tout comme pour d’autres virus (grippe, hépatite B, etc...), la vaccination est un moyen efficace.
            </p>
            <p class="text">
              De cette manière, même en cas de contact avec le virus HPV, des anticorps le détruiront naturellement et empêcheront l’infection de se propager.
            </p>
            <p class="text">
              La personne vaccinée doit, au moment de la vaccination, ne pas être infectée par le virus. D’où l’intérêt de vacciner à un âge précoce, avant les premiers contacts sexuels.
            </p>
            <p class="text">
              Comme déjà mentionné dans cette brochure, ± 80% de la population a été confrontée à une infection HPV, dont presque 90% éliminera spontanément le virus.
            </p>
            <p class="text">
              Si tu es déjà sexuellement actif, tu peux envisager la vaccination avec ton médecin. Il existe un risque que tu sois déjà infecté par un type d’HPV présent dans le vaccin. Dans ce cas, le vaccin ne te protègera que contre les autres types d’HPV présents dans le vaccin.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'false',
    :contains => 'false',
    :direction => 'right',
    :reverse => 'false',
    :single => 'false',
    :image => '/assets/images/content/prevention/slant1.png',
    :title => '<span class="title--lightweight">N’hésite pas à demander à tes partenaires sexuels s’ils sont vaccinés contre l’HPV.</span>',
  }) %>

</div>
<%= partial("shared/footer", :locals => {
  :extra_classes => 'footer--overlap'
}) %>
