---
title: Proyect Index
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/intro", :locals => {
    :extra_classes => 'intro--simplified',
    :image => '/assets/images/content/virus/virus.jpg',
    :title => 'Qu’est-ce que l’HPV?',
  }) %>

  <div class="content content--reduced-padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="content__text text">
            <p>
              Les Papillomavirus humains (HPV) sont une famille de virus qui ont pour spécificité d’infecter la peau et les muqueuses.
            </p>
            <p>
              Il existe plus de 200 types d’HPV : ils peuvent toucher les organes génitaux internes et externes, la région anale, certaines parties de la peau ou encore la bouche, chez les femmes comme chez les hommes..
            </p>
            <p>
              Environ une douzaine de ces types d’HPV sont appelés à haut risque. Ils sont impliqués dans l’émergence de précurseurs de cancers, et même responsables de certains cancers, dont le plus fréquent est le cancer du col de l’utérus mais aussi d’autres cancers de la femme ou de l’homme.
            </p>
            <p>
              Dans quasi 90% des cas, l’infection par le virus HPV passe inaperçue mais pour certains types de virus, elle peut causer des maladies sévères et gênantes chez les hommes et les femmes.</>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="/assets/images/content/virus/infographic.jpg" alt="" class="content__image">
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-md-7 col-sm-9 col-xs-11">
          <div class="content__text title title--sub title--lightweight">
            <p>
              Estimation du nombre moyen de nouveaux cas de cancers et de verrues génitales liés à l’HPV par an en Belgique.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'false',
    :contains => 'true',
    :direction => 'left',
    :reverse => 'true',
    :single => 'true',
    :title => '<span class="title--lightweight">Parfois, le virus reste présent dans le corps sans manifester le moindre signe ou symptôme</span>',
  }) %>

  <div class="content content--extra-padding-top content--reduced-padding-bottom">
    <div class="container">
      <div class="row center-xs">
        <div class="col-md-5 col-sm-8 col-xs-11">
          <div class="title title--sub title--lightweight">
            <p>
              La transmission des papillomavirus humains (HPV) existe dans le monde entier.<br/>
            </p>
          </div>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-md-4 col-sm-6 col-xs-10">
          <img src="/assets/images/content/virus/percentage.jpg" alt="" class=""><br/>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-md-6 col-sm-9 col-xs-12">
          <div class="content__text title title--sub title--lightweight">
            <p>
              De la population sexuellement active est un jour confrontée à une infection par l'HPV, dont la moitié entre 15 et 24 ans.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="content__text text">
            <p>
              Il s’agit d’une infection invisible qui, dans la plupart des cas, passe inaperçue et il n’existe pas de moyen simple pour savoir si quelqu’un est infecté par l’HPV.
            </p>
            <p>
              Près de 90% des personnes contaminées vont éliminer le virus spontanément après 2 à 3 ans grâce à leur immunité naturelle.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="content__text text">
            <p class="title title--sub">QU’EST-CE QUI PEUT AUGMENTER LE RISQUE<br/>D’INFECTION À L’HPV?</p>
            <ul>
              <li>
                <p>Une activité sexuelle à un âge précoce</p>
              </li>
              <li>
                <p>Des partenaires multiples</p>
              </li>
              <li>
                <p>D’autres maladies sexuellement transmissibles (MST)</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="content__text text">
            <p class="title title--sub">COMMENT EST-ON INFECTÉ PAR LE VIRUS HPV ?</p>
            <ul>
              <li>
                <p>Par contact sexuel avec une muqueuse infectée (génital, oral ou anal)</p>
              </li>
              <li>
                <p>Par contact cutané</p>
              </li>
              <li>
                <p>Via des surfaces infectées</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert--success">
            <p>Et peut dès lors être transmis sans le savoir.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%= partial("shared/footer", :locals => {
  :extra_classes => ''
}) %>
